{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ figure.name }}</h1>
    {% if app.user and app.user.id == figure.user.id %}
        <a href="{{ path('update_figure', {id: figure.id}) }}">Modifier</a>
        <a href="{{ path('delete', {id: figure.id}) }}">Supprimer</a>
    {% endif %}
    <p>{{ figure.description }}</p>
    <p>{{ figure.figureGroup }}</p>
    {% for photo in figure.photo %}
        <div>
            <img src="{{ asset('/uploads/' ~ photo.name) }}" alt="Photo" width="150">
        </div>
    {% endfor %}
    {% for video in figure.videos %}
        <div>
            <iframe width="560" height="315" src="{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% endfor %}
    <p>Ajouté le {{ figure.createdAt|date("d/m/Y") }} par {{ figure.user.username }}</p>
    {% if figure.updatedAt %}
        <p>Modifié le {{ figure.updatedAt|date("d/m/Y") }}</p>
    {% endif %}
</div>
    <div class="example-wrapper">
        {% for flashMessage in app.session.flashBag.get('success') %}
            {{ flashMessage }}
        {% endfor %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.content, {
                label: "Commentaire"
            }) }}
            <button type="submit" class="btn">Ajouter</button>
            {{ form_end(commentForm) }}
        {% endif %}

        <h2>Liste des commentaires</h2>
        {% for comment in figure.comments %}
            <img src="{{ asset('/uploads/user/' ~ comment.user.photo) }}" alt="Photo" width="50">
            <p>Publié par {{ comment.user.username }} le {{ comment.createdAt|date("d/m/Y H:i") }}</p>
            <p>{{ comment.content }}</p>
        {% endfor %}
        
        <a href="{{ path('home') }}">Retour</a>
    </div>
{% endblock %}
