{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Accueil</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout') }}">Deconnexion</a>
        <a href="{{ path('profile') }}">Profil</a>
        <a href="{{ path('add_figure') }}">Ajouter une figure</a>
    {% else %}
        <a href="{{ path('login') }}">Connexion</a>
        <a href="{{ path('app_register') }}">Inscription</a>
    {% endif %}

    <h2>Tricks</h2>

    {% for flashMessage in app.session.flashBag.get('success') %}
        {{ flashMessage }}
    {% endfor %}

    <div id="figures-container">
        {% for figure in figures %}
            <div>
                <h3><a href="{{ path('get_figure', {id: figure.id}) }}">{{ figure.name }}</a></h3>
        {#        {% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
        {#            <a href="{{ path('update_figure', {id: figure.id}) }}">Modifier</a>#}
        {#            <a href="{{ path('delete', {id: figure.id}) }}">Supprimer</a>#}
        {#        {% endif %}#}
                {% if app.user and app.user.id == figure.user.id %}
                    <a href="{{ path('update_figure', {id: figure.id}) }}">Modifier</a>
                    <a href="{{ path('delete', {id: figure.id}) }}">Supprimer</a>
                {% endif %}
                <p>{{ figure.description }}</p>
                <p>{{ figure.figureGroup }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="#" class="load-more">Figures suivantes</a>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/loadMore.js') }}"></script>
{% endblock %}
