{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="custom-container border rounded mx-3 p-5 mb-5 mt-5 mx-md-auto text-center shadow bg-body">
        <h1 class="text-center mb-5">Inscription</h1>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: "Nom d'utilisateur"
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.photo) }}

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Inscription</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
