{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block body %}

    <div class="custom-container border rounded shadow bg-body mx-md-auto mx-3 mt-5 mb-5">
        <h1 class="text-center mb-5 mt-5"><i class="bi bi-plus-circle me-4" style="font-size: 2.5rem"></i>Ajouter une figure</h1>
        {{ form_start(figureForm) }}
        {{ form_row(figureForm.name, {
            label: "Nom"
        }) }}
        {{ form_row(figureForm.description, {
            label: "Description"
        }) }}
        {{ form_row(figureForm.figureGroup, {
            label: "Groupe du tricks"
        }) }}
        {{ form_row(figureForm.photos, {
            label: "Photo(s)"
        }) }}
        {{ form_label(figureForm.videos) }}
        {{ form_errors(figureForm.videos) }}

        <label class="form-label">Vidéo(s)</label>
        <ul id="list-video">
            {% for videoField in figureForm.videos %}
                <li>
                    {{ form_errors(videoField) }}
                    {{ form_widget(videoField) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" id="button-add-video" class="btn btn-dark"
                data-template="{{ form_widget(figureForm.videos.vars.prototype)|e }}">Ajouter une vidéo
        </button>

        <div class="text-center mt-5">
            <button type="submit" class="btn btn-dark">Sauvegarder</button>
        </div>
        {{ form_end(figureForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/videos.js') }}"></script>
{% endblock %}

