{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <div class="custom-container border rounded shadow bg-body mt-5 mb-5 mx-md-auto mx-3">

        <div class="container-photo position-relative mb-3 mt-3">
            <img src="{{ figure.getMainPhotoUrl }}" class="img-fluid rounded" alt="snow-tricks">
            {% if figure.photos|length > 0 %}
                <div class="border rounded position-absolute top-0 end-0 bg-white py-1 px-3 mt-2 me-2">
                    <a href="{{ path('delete_photo', {id: figure.photos[0].id}) }}"
                       data-token="{{ csrf_token('delete' ~ figure.photos[0].id) }}"
                       data-reload
                       data-delete-photo
                    >
                        <i class="bi bi-trash-fill" style="font-size: 1rem;"></i>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="container mt-3 d-none d-md-block">
            <div class="row">
                {% for photo in figure.photos %}
                    {% if not loop.first %}
                        <div class="col-4 mb-3">
                            <div class="position-relative rounded overflow-hidden" style="height: 150px;">
                                <img src="{{ asset('/uploads/' ~ photo.name) }}" alt="Photo"
                                     class="object-fit-cover w-100 h-100">
                                <div class="border rounded position-absolute top-0 end-0 bg-white py-1 px-2 mt-2 me-2">
                                    <a href="{{ path('delete_photo', {id: photo.id}) }}" data-delete-photo
                                       data-token="{{ csrf_token('delete' ~ photo.id) }}">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for video in figure.videos %}
                    <div class="col-4 mb-3">
                        <div class="position-relative rounded overflow-hidden" style="height: 150px;">
                            <iframe src="{{ video.url }}" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen class="w-100 h-100"></iframe>
                            <div class="border rounded position-absolute top-0 end-0 bg-white py-1 px-2 mt-2 me-2">
                                <a href="{{ path('delete_video', {id: video.id}) }}" data-delete
                                   data-token="{{ csrf_token('delete' ~ video.id) }}"><i class="bi bi-trash-fill"
                                                                                         style="font-size: 1rem;"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="phone-group-media text-center mt-4">
            <p>
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Voir médias
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                {% for photo in figure.photos %}
                    {% if not loop.first %}
                        <div class="position-relative mb-2">
                            <img src="{{ asset('/uploads/' ~ photo.name) }}" alt="Photo"
                                 class="rounded w-100 object-fit-cover" style="height: 250px">
                            <div class="border rounded position-absolute top-0 end-0 bg-white py-1 px-2 mt-2 me-2">
                                <a href="{{ path('delete_photo', {id: photo.id}) }}" data-delete-photo
                                   data-token="{{ csrf_token('delete' ~ photo.id) }}">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for video in figure.videos %}
                    <div class="position-relative mb-2">
                        <iframe src="{{ video.url }}" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen class="w-100 rounded" style="height: 250px;"></iframe>
                        <div class="border rounded position-absolute top-0 end-0 bg-white py-1 px-2 mt-2 me-2">
                            <a href="{{ path('delete_video', {id: video.id}) }}" data-delete
                               data-token="{{ csrf_token('delete' ~ video.id) }}"><i class="bi bi-trash-fill"
                                                                                     style="font-size: 1rem;"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mt-3 mb-3">
            {{ form_start(figureForm) }}
            {{ form_row(figureForm.name, {
                label: "Nom"
            }) }}
            {{ form_row(figureForm.description, {
                label: "Description"
            }) }}
            {{ form_row(figureForm.figureGroup, {
                label: "Groupe du tricks"
            }) }}
            {{ form_row(figureForm.photos, {
                label: "Photo(s)"
            }) }}
            {{ form_label(figureForm.videos) }}
            {{ form_errors(figureForm.videos) }}

            <label class="form-label">Vidéo(s)</label>
            <ul id="list-video">
                {% for videoField in figureForm.videos %}
                    <li>
                        {{ form_errors(videoField) }}
                        {{ form_widget(videoField, {'label': 'toto', 'attr': {'placeholder': 'coucou'}}) }}
                    </li>
                {% endfor %}
            </ul>
            <button type="button" id="button-add-video" class="btn btn-dark"
                    data-template="{{ form_widget(figureForm.videos.vars.prototype)|e }}">Ajouter une vidéo
            </button>

            <div class="group-button d-flex justify-content-center justify-content-md-end mt-5">
                <button type="submit" class="btn btn-dark me-2">Sauvegarder</button>
                <a href="{{ path('delete', {id: figure.id}) }}" class="btn btn-danger"
                   onclick="return confirm('Etes vous sure de vouloir supprimer cette figure ?')">Supprimer la
                    figure</a>
            </div>
            {{ form_end(figureForm) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/photos.js') }}"></script>
    <script src="{{ asset('js/deleteVideos.js') }}"></script>
    <script src="{{ asset('js/videos.js') }}"></script>
{% endblock %}
