{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="custom-container border rounded mx-3 p-5 mb-5 mt-5 mx-md-auto text-center shadow">
        <h1 class="text-center mb-5"><i class="bi bi-box-arrow-in-right me-4" style="font-size: 2.5rem"></i>Connexion</h1>

        {% if error %}
            <div class="mb-3 alert alert-danger text-center mx-auto" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% for flashMessage in app.session.flashBag.get('message') %}
            <div class="mb-3 alert alert-success text-center mx-auto" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashBag.get('danger') %}
            <div class="mb-3 alert alert-danger text-center mx-auto" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashBag.get('warning') %}
            <div class="mb-3 alert alert-warning text-center mx-auto" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form action="{{ path('login') }}" method="post">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="username" name="_username"/>

            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="_password"/>

            <div class="text-center mb-4">
                <button type="submit" class="btn btn-dark">Connexion</button>
            </div>
            <div class="path-registration text-center mb-3">
                <a href="{{ path('app_register') }}">Inscription</a>
            </div>
            <div class="text-center">
                <a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>
{% endblock %}
